@media all and (min-width: 900px) {
  body {
    margin: 0%;
  }
  body #getstarted {
    text-decoration: none;
    color: white;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #FF4123;
    float: right;
    position: absolute;
    right: 50px;
    top: 40px;
    padding: 1em 2em;
    border-radius: 5px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    width: 100px;
    font-size: 15px;
  }
  body #getstarted:hover {
    background-color: #2a2929;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  body .Animo_logo_orange {
    top: 40px;
    width: 15%;
  }
  body .Container {
    margin: 50px;
  }
  body .Container .presentation {
    position: absolute;
    top: 45%;
  }
  body .Container .presentation .Left_text {
    position: absolute;
    top: 0%;
    width: 39.23vw;
    height: 23.17vh;
  }
  body .Container .presentation .Left_text h1 {
    font-family: 'Riffic Free';
    font-size: 50px;
    color: #2a2929;
  }
  body .Container .presentation .Left_text p {
    font-family: 'Publica Play';
    font-size: 21px;
    font-weight: bolder;
    color: #2a2929;
  }
  body .Container .presentation .ilus_3 {
    float: right;
    position: absolute;
    left: 50vw;
    top: -5vh;
  }
  body .Container .presentation .Right_text {
    width: 39.23vw;
    height: 23.17vh;
    float: right;
    position: absolute;
    left: 45vw;
    top: 0vh;
  }
  body .Container .presentation .Right_text h1 {
    font-family: 'Riffic Free';
    font-size: 3rem;
    line-height: 3.25rem;
    color: #2a2929;
  }
  body .Container .presentation .Right_text p {
    font-family: 'Publica Play';
    font-size: 1rem;
    font-weight: bolder;
    color: #2a2929;
  }
  body .Container .presentation .Left_illust {
    position: absolute;
    top: -9vh;
  }
  body .Container .presentation .Right_illustr {
    float: right;
    position: absolute;
    left: 50vw;
    top: -8vh;
  }
  #bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Preserve aspet ratio */
    min-width: 90%;
    min-height: 100%;
    z-index: -1;
  }
}

@media all and (max-width: 900px) {
  body #getstarted {
    text-decoration: none;
    color: white;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #FF4123;
    padding: 1em 2em;
    border-radius: 5px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 15px;
    height: 20px;
    width: 100px;
    position: fixed;
    margin: -20px -50px;
    top: 90%;
    left: 45%;
  }
  body #getstarted:hover {
    background-color: #2a2929;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  body .Animo_logo_orange {
    position: absolute;
    top: 40px;
    width: 40%;
    left: 30vw;
  }
  body .Container {
    margin: 0px;
  }
  body .Container .presentation {
    position: absolute;
    top: 45%;
  }
  body .Container .presentation h1 {
    font-family: 'Riffic Free';
    font-size: 2.5rem;
    line-height: 3rem;
    color: #2a2929;
  }
  body .Container .presentation p {
    font-family: 'Publica Play';
    font-size: 1em;
    font-weight: bolder;
    color: #2a2929;
  }
  body .Container .presentation .Left_text {
    width: 80%;
  }
  body .Container .presentation .Right_text {
    width: 70%;
    height: 50%;
  }
  body .Container .presentation img {
    display: none;
  }
}

@media all and (max-width: 900px) and (max-width: 600px) {
  body .Container .presentation {
    top: 32vh;
    text-align: center;
  }
  body .Container .presentation h1 {
    font-size: 2em;
  }
  body .Container .presentation p {
    font-size: 15px;
  }
}

@media all and (max-width: 900px) {
  #bg {
    position: fixed;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 90%;
    min-height: 100%;
    z-index: -1;
  }
}
/*# sourceMappingURL=main.css.map */