body
{ 
  margin: 0%;
  #getstarted 
  {
    text-decoration: none ;
    color: white ; 
    font-family: 'Glacial Indifference';
    font-weight: bolder ;
    background-color: #FF4123 ;
    float: right ; 
    position: absolute ;
    right: 50px ;
    top: 40px;
    padding: 1em 2em ;
    border-radius: 5px ;
    transition: all 0.2s ;
    width: 100px;
    font-size: 15px;
  }
  #getstarted:hover
  {
    background-color: #2a2929 ;
    transition: all 0.2s;
  }
  .Animo_logo_orange
  {
    top: 40px;
    width: 15%;
  }
  .Container
  {
    margin: 50px;
    .presentation
    {
      position: absolute ;
      top: 45%;
      
      
      .Left_text
      {
        width: 39.23vw ;
        height: 23.17vh ;
        span
        {
          font-family: 'Riffic Free'; 
          font-size: 50px;
          color: #2a2929;
        }
        p
        {
          font-family: 'Publica Play';
          font-size: 21px;
          font-weight: bolder ;
          color: #2a2929;
  
        }
      }
      img
         {
          float: right ; 
          position: absolute ;
          left: 55vw ;
          top: -20vh;
         }
    }
  }

}
#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 90%;
  min-height: 100%;
  z-index: -1;
}
