@media all and (min-width: 681px) {
  body {
    margin: 0% auto;
  }
  body .AccountContainer {
    position: absolute;
    margin-bottom: 50px;
    left: 35.2%;
    top: 17%;
    width: 30vw;
    height: auto;
  }
  body .AccountContainer .third_paties_Container {
    margin: 0%;
    text-align: center;
  }
  body .AccountContainer .fb_submit {
    text-decoration: none;
    color: white;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #4267B2;
    padding: 0.8em 2em;
    border-radius: 15px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
    width: 100%;
    cursor: pointer;
    outline: none;
  }
  body .AccountContainer .fb_submit:hover {
    background-color: #5584e2;
  }
  body .AccountContainer .gl_submit {
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #4285F4;
    padding: 0.8em 2em;
    border-radius: 15px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
    width: 100%;
    cursor: pointer;
    outline: none;
  }
  body .AccountContainer .gl_submit:hover {
    background-color: #70a3f6;
  }
  body .AccountContainer .inf {
    position: relative;
    /* Adjust these values accordingly */
    float: left;
    top: 28px;
    left: 5%;
    color: #f2f2f2;
  }
  body .AccountContainer .ing {
    position: relative;
    /* Adjust these values accordingly */
    float: left;
    top: 28px;
    left: 5%;
    color: #f2f2f2;
  }
  body .AccountContainer .icong {
    color: #f2f2f2;
    position: relative;
    /* Adjust these values accordingly */
    float: left;
    top: 28px;
    left: 5%;
  }
  body .AccountContainer .iconf {
    color: #f2f2f2;
    position: relative;
    /* Adjust these values accordingly */
    float: left;
    top: 28px;
    left: 5%;
  }
  body .AccountContainer .icon {
    color: #FF7E6A;
    position: relative;
    float: left;
    /* Adjust these values accordingly */
    top: 30px;
    left: 8px;
    padding: 0 10px;
  }
  body .AccountContainer .icin {
    color: #FF7E6A;
    position: absolute;
    right: 5%;
    top: 50%;
  }
  body .AccountContainer p {
    font-family: 'Publica Play';
    text-align: center;
    width: 100%;
    color: gray;
  }
  body .AccountContainer h1 {
    font-family: 'Glacial indifference';
    color: #2a2929;
    font-weight: bolder;
    padding-bottom: 3%;
    text-align: center;
  }
  body .AccountContainer .inputs {
    margin: 0%;
  }
  body .AccountContainer .field {
    height: 7vh;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 0.8em 4em;
    margin-bottom: 2%;
    outline: none;
    font-family: 'Publica Play';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  body .AccountContainer label {
    font-family: 'Glacial indifference';
    color: #2a2929;
    font-weight: bolder;
  }
  body .AccountContainer .descr {
    font-size: 10px;
    font-family: 'Publica Play';
    text-align: center;
    color: gray;
    text-align: center;
  }
  body .AccountContainer a {
    font-size: 10px;
    font-family: 'Publica Play';
    text-align: center;
    color: #FF4123;
    text-align: center;
  }
  body .AccountContainer .Submitbutton {
    text-decoration: none;
    color: white;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #FF4123;
    padding: 0.8em 2em;
    border-radius: 15px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
    width: 60%;
    cursor: pointer;
  }
  body .AccountContainer .submitContainer {
    margin-top: 3%;
    margin-left: 0%;
    text-align: center;
  }
  body .AccountContainer .Submitbutton:hover {
    background-color: #2a2929;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  body .AccountContainer .field:focus {
    border: 1px solid #FF7E6A;
  }
  body .AccountContainer .field:hover {
    border: 1px solid #FF7E6A;
  }
  .Animo_logo_orange_2 {
    position: absolute;
    left: 43%;
    top: 30px;
    z-index: initial;
    width: 15%;
  }
}

@media all and (max-width: 680px) {
  body .AccountContainer {
    position: absolute;
    left: 3%;
    width: 90%;
    top: 10%;
    padding: 5px;
    margin-bottom: 20px;
  }
  body .AccountContainer .fb_submit {
    text-decoration: none;
    color: white;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #4267B2;
    padding: 0.8em 2em;
    border-radius: 15px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
    width: 100%;
    cursor: pointer;
    outline: none;
  }
  body .AccountContainer .fb_submit:hover {
    background-color: #5584e2;
  }
  body .AccountContainer .gl_submit {
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #4285F4;
    padding: 0.8em 2em;
    border-radius: 15px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
    width: 100%;
    cursor: pointer;
    outline: none;
  }
  body .AccountContainer .gl_submit:hover {
    background-color: #70a3f6;
  }
  body .AccountContainer .inf {
    position: relative;
    /* Adjust these values accordingly */
    float: left;
    /* Adjust these values accordingly */
    top: 28px;
    left: 5%;
    color: #f2f2f2;
  }
  body .AccountContainer .ing {
    position: relative;
    /* Adjust these values accordingly */
    float: left;
    /* Adjust these values accordingly */
    top: 28px;
    left: 5%;
    color: #f2f2f2;
  }
  body .AccountContainer .icong {
    color: #f2f2f2;
    position: relative;
    float: left;
    /* Adjust these values accordingly */
    top: 28px;
    left: 5%;
  }
  body .AccountContainer .iconf {
    color: #f2f2f2;
    position: relative;
    float: left;
    /* Adjust these values accordingly */
    top: 28px;
    left: 5%;
  }
  body .AccountContainer h1 {
    font-family: 'Glacial indifference';
    color: #2a2929;
    font-weight: bolder;
    padding-bottom: 3%;
    text-align: center;
  }
  body .AccountContainer p {
    font-family: 'Publica Play';
    text-align: center;
    color: gray;
  }
  body .AccountContainer .inputs {
    height: 10%;
  }
  body .AccountContainer .field {
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 0.8em 4em;
    margin-bottom: 2%;
    outline: none;
    font-family: 'Publica Play';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  body .AccountContainer .field:focus {
    border: 1px solid #FF7E6A;
  }
  body .AccountContainer .field:hover {
    border: 1px solid #FF7E6A;
  }
  body .AccountContainer .icon {
    color: #FF7E6A;
    position: relative;
    float: left;
    /* Adjust these values accordingly */
    top: 30px;
    left: 8px;
    padding: 0 10px;
  }
  body .AccountContainer .icin {
    color: #FF7E6A;
    position: absolute;
    right: 2%;
    margin-top: 55px;
  }
  body .AccountContainer .Submitbutton {
    text-decoration: none;
    color: white;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #FF4123;
    padding: 0.8em 2em;
    border-radius: 15px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
    width: 60%;
    cursor: pointer;
  }
  body .AccountContainer .submitContainer {
    margin-top: 3%;
    margin-left: 0%;
    text-align: center;
  }
  body .AccountContainer .Submitbutton:hover {
    background-color: #2a2929;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  body .AccountContainer label {
    font-family: 'Glacial indifference';
    color: #2a2929;
    font-weight: bolder;
    margin-top: 15%;
  }
  body .AccountContainer .descr {
    font-size: 10px;
    font-family: 'Publica Play';
    text-align: center;
    color: gray;
    text-align: center;
  }
  body .AccountContainer a {
    font-size: 10px;
    font-family: 'Publica Play';
    text-align: center;
    color: #FF4123;
    text-align: center;
  }
  .Animo_logo_orange_2 {
    position: absolute;
    left: 37.5%;
    top: 10px;
    z-index: initial;
    width: 25%;
  }
}
/*# sourceMappingURL=account_mobile.css.map */