
// Web formaatt

@media all and(min-width: 681px)
{
    body
    {
      margin: 0% auto ;
      
      .AccountContainer
      {
        position: absolute;
        margin-bottom: 50px;
        left: 35.2% ;
        top: 17%;
        width: 30vw;
        height: auto;

      
        .third_paties_Container
        {
          margin: 0%;
          text-align: center;
        }
        .fb_submit
        {
          text-decoration: none ;
          color: white ; 
          font-family: 'Glacial Indifference';
          font-weight: bolder ;
          background-color: #4267B2;
          padding: 0.8em 2em ;
          border-radius: 15px ;
          transition: all 0.2s ;
          border: none ;
          width: 100%;
          cursor: pointer;
          outline: none;
        }
        .fb_submit:hover
        {
          background-color: rgb(85, 132, 226);
        }
        .gl_submit
        {
          text-decoration: none ;
          color: #f2f2f2 ; 
          font-family: 'Glacial Indifference';
          font-weight: bolder ;
          background-color: #4285F4;
          padding: 0.8em 2em ;
          border-radius: 15px ;
          transition: all 0.2s ;
          border: none ;
          width: 100%;
          cursor: pointer;
          outline: none;
        }
        .gl_submit:hover
        {
          background-color: rgb(112, 163, 246);
        }
        .inf
        { 
          position: relative;
          /* Adjust these values accordingly */
          float: left;
          top: 28px;
          left: 5%;
          color: #f2f2f2;
        }
        .ing
        {
          position: relative;
          /* Adjust these values accordingly */
          float: left;
          top: 28px;
          left: 5%;
          color: #f2f2f2;
        }
        .icong
        {
          color: #f2f2f2 ;
          position: relative;
          /* Adjust these values accordingly */
          float: left;
          top: 28px;
          left: 5%;
        }
        .iconf
        {
          color: #f2f2f2 ;
          position: relative;
          /* Adjust these values accordingly */
          float: left;
          top: 28px;
          left: 5%;
        }
        .icon 
        {
          color: #FF7E6A;
          position: relative;
          float: left;
          /* Adjust these values accordingly */
          top: 29px;
          left: 8px;
          padding: 0 10px;
        }
        .icin 
        {
            color: #FF7E6A;
            position: absolute;
            right: 5%;
            top: 50% ;
        }
        .span
        {
          font-family: 'Publica Play';
          text-align: center;
          width: 100%;
          color: gray;
        }
        h1 
        {
          font-family: 'Glacial indifference';
          color: #2a2929;
          font-weight: bolder ;
          padding-bottom: 3%;
          text-align: center;
        }
        .inputs
        {
          margin: 0%;
        }
        .field
        { 
          height: 40px;
          width: 100%;
          border: 1px solid transparent;
          border-radius: 10px ;
          background-color: #F2F2F2;
          padding: 0.8em 4em ;
          margin-bottom: 0%;
          outline: none ;
          font-family: 'Publica Play';
          box-sizing: border-box ;
          display: inline-flex ;  
        }
        .val 
        { 
          margin: 0%;
          padding: 0%;
          visibility: hidden;
          p
          { 
            
            margin: 0%;
            padding-left: 15px;
            text-align: left;
            color : #D8000C ;
            font-family: 'Glacial indifference';
          }
        }
        .inv_msg
        { 
          margin: 0%;
          padding-bottom: 4.5%;
          .fa-close
          {
            color: #D8000C;
            position: absolute;
            font-size: 17px;
            margin-right: 10px;
          }
          p
          { 
            margin: 0%;
            padding-left: 20px;
            text-align: left;
            color : #D8000C ;
            font-family: 'Glacial indifference';
          }
        }
        label
        {
          font-family: 'Glacial indifference';
          color: #2a2929;
          font-weight: bolder ;   
    
        }
        .descr
        {
          font-size: 10px ; 
          font-family: 'Publica Play';
          text-align: center ;
          color: gray;
          text-align: center;
        }
        a
        {
          font-size: 10px ; 
          font-family: 'Publica Play';
          text-align: center ;
          color : #FF4123 ;
          text-align: center;
        }
        .Submitbutton
        {
          
          text-decoration: none ;
          color: white ; 
          font-family: 'Glacial Indifference';
          font-weight: bolder ;
          background-color: #FF4123 ;
          padding: 0.8em 2em ;
          border-radius: 15px ;
          transition: all 0.2s ;
          border: none ;
          width: 60%;
          cursor: pointer;
          outline: none;
        }
        .loading
        {
          text-decoration: none ;
          color: #2a2929 ; 
          font-family: 'Glacial Indifference';
          font-weight: bolder ;
          background-color: rgb(195, 195, 195) ;
          padding: 0.8em 2em ;
          border-radius: 15px ;
          transition: all 0.2s ;
          border: none ;
          width: 60%;
          pointer-events: none;
          cursor: disabled;
          outline: none;
        }
        .submitContainer
        {
          margin-top: 3%;
          margin-left: 0%;
          text-align: center;
        }
        .Submitbutton:hover
        {
          background-color: #2a2929 ;
          transition: all 0.2s ;
          outline: none;

        }
        .field:focus
        {
          border: 1px solid #FF7E6A;
        }
        .field:hover
        {
          border: 1px solid #FF7E6A;
        }
        .invalid,
        .invalid:-webkit-autofill,
        .invalid:-webkit-autofill:hover, 
        .invalid:-webkit-autofill:focus, 
        .invalid:-webkit-autofill:active
        { 
          -webkit-box-shadow: 0 0 0 30px #FFBABA inset !important;
          border: 1px solid #D8000C;
          background-color: #FFBABA !important ;
        }
        
     }  


    }
    
    .Animo_logo_orange_2
      {
          position: absolute ;
          left: 43% ;
          top: 30px;
          z-index: initial;
          width: 15%;
       }
}

