body
{
    @import './rate.scss';
    .FullPostContainer
    {
        margin-top: 55px ;
        margin-bottom: 15px;
        box-sizing: border-box;
        box-shadow: 0px 0px 6px rgb(209, 208, 208);
        border-radius: 10px;
        padding: 30px 50px;
        height: auto;
        overflow: hidden;
        .HeadContainer
        {
            overflow: auto;
            font-family: 'Glacial indifference'; 
            .Profile
            {
                float: left;
                margin-bottom: 15px;
                .dot {
                    float: left;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    margin-right: 15px;
                    margin-left: 5px;
                    margin-top: 2px;
                    padding: 0;
                    cursor: pointer;
                }
                .prof
                {
                    border-radius: 50%;
                    object-fit: cover;
                    box-shadow: rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset ;
                    width: 35px;
                    height: 35px;
                }
                .usrInfo
                {
                    float: right;
                   .name{font-weight: bolder;cursor: pointer;color: #2a2929;}
                    .post_time
                    {
                        font-size: 14px;
                        color: rgb(91, 92, 95);
                    } 
                }
                 
            }
            .PhoneNumber
            {
                font-family: 'Roboto';
                font-weight: bolder;
                float : right ;
                width: 20px;
                height: 20px;
                overflow: hidden;
                box-shadow: 0px 0px 5px rgb(209, 208, 208);
                border-radius: 50px;
                text-align: center;
                padding: 5px 10px;
                transition: width 0.3s;
                background-color: #2a2a2a;
                cursor: pointer;
                .phone_text
                {
                    color: rgb(228, 228, 228);
                    float: right;
                    text-align: center;
                    margin-top: 0px;
                    transition: 0.4s ;
                    opacity:0;
                    transition-timing-function: ease-in-out;
                    //display: none;
                }
                .phone_ico
                {
                    float: left;
                }
            }
            .PhoneNumber:hover
            {
                
                width: 200px;
                .phone_text
                {
                    display: block;
                    opacity:1;
                }
            }
        }
        
        .ThumbnailContainer
        {
            float: left;
            width: 50%;
            .Post_type
            {
                font-family: 'Roboto';
                margin: 0;
                font-size: 20px;
                color: #1665D8;
                padding: 4px;
                margin-top: 20px;
                margin-bottom: 20px;
            }
           
                  
                .img
                {
                     height: 290px;
                     object-fit: cover;
                     border-radius: 15px;
                }
            
            
            
        }
        .AnimalInfo
        {
            float: right;
            width: 45%;
            font-family: 'Glacial indifference';
            .InfosContainer
            {   
                margin-top: 20px;
                box-sizing: border-box;
                padding: 30px 20px;
                //height: 290px;
                box-shadow: 0px 0px 6px rgb(209, 208, 208);
                border-radius: 15px;
                
                .Heading
                {
                    float: left;
                    font-weight: bolder;
                    color : #686867;
                }
                .property
                {
                    float: right;
                    width: 150px;
                    padding-right: 20px;
                    
                }
                .row
                {
                    overflow: auto;
                    padding: 5px 5px;
                }
            }   
        }
        .DescriptionContainer
        {
            float: left;
            width: 100%;
            font-family: 'Glacial indifference';
            .Description
            {
                font-family: 'Roboto';
                color : #686867;
                font-size: 15px;
            }
            
        }
        .title
            {
                font-weight: bolder;
                color: #2a2a2a;
            }
        .FooterContainer
        {
            margin-top: 40px;
            float: left;
            width: 100%;
            overflow: auto;
            font-family: 'Glacial indifference';
            .Interaction_buttons
            {
                float: left;
                color: #2a2a2a;
                font-weight: bolder;
                font-size: 18px;

                svg
                {
                    padding-right: 10px;
                }
                .Save
                {
                    float: left;
                    padding: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    
                }
                .Share
                {
                    float: right;
                    margin-left: 30px;
                    padding: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                }
                .Save:hover
                {
                    background-color: #ebebeb6c;
                }
                .Share:hover
                {
                     background-color: #ebebeb6c;
                }
            }
            .right
            {
                float: right;
                overflow: hidden;
                .Rattings
                {
                    float: left;
                    margin-right: 50px;
                    padding: 10px;
                    cursor: pointer;
                    .span 
                    {
                        font-family: 'glacial indifference';
                        color : #a5a5a5;
                        font-size: 15px; 
                    }
                }
                .Price_tag
                {
                    float: right;
                    font-family: 'Roboto';
                    font-weight: 1000;
                    font-size: 20px;
                    color: #1665D8;
                    text-shadow: 0px 0px 6px rgb(209, 208, 208);
                    cursor: pointer;
                    padding: 10px;
                }
            }
        }
    }
    .ReportContainer
    {
        float: right;
        padding: 15px;
        border-radius: 20px;
        margin-bottom: 20px;
        font-family: 'glacial indifference';
        font-weight: bolder;
        cursor: pointer;
        .report_icon
        {
            float: left;
            margin-right: 5px;
        }
        .span
        {
            float: right;
            color : #D02120;
            font-size: 15px;
        }
    }
    .ReportContainer:hover
    {
 background-color: #ebebeb6c;
    }
}
