body
    
{
      margin: 0% auto ;
      .username
      {
        position: absolute;
        right: 2%;
        top: 0%;
      }
      .skip
      {
        position: absolute;
        right: 2%;
      }
}