body
{
    $selectWidth : 200px ;
    $actionHeight : 60px;
    @import './steps.scss';
    @import './select.scss';
    .header
    {   
        box-sizing: border-box;
        overflow: hidden;
        background-color: #2a2a2a;
        padding : 8px 50px 9px 50px ;
        .logo
        {
            margin-top: 4px;
        }
        Link 
        {
            padding: 0;
            margin: 0;
        }
        .left
        {
            float: left;
        }
        .right
        {
            float: right;
        }
        .title
        {
            font-family: 'glacial indifference';
            color : #fafafa ; 
            margin: 0;
            font-weight: bolder;

        }
        .help
        {
            color : #6e6e6e;
            margin-top: 7px;
            font-family: 'glacial indifference';
            font-weight: bold;
        }
        .rightContainer
        {
            width: 60%;
        }
    }
    .creatOffer
    {
        animation: fadein 500ms;
    }
    @keyframes fadein
    {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    .ant-steps-item-title
    {
        font-weight: bolder;
    }
    
    .offerContainer
    {
        padding: 40px 200px;
        font-family: 'glacial indifference';

        .steps-content
        {
            margin-top: 50px;
            width: 100%;
            height: 60vh;
            box-shadow: 0px 0px 2px rgb(209, 208, 208);
            text-decoration: none;
            border-radius: 5px;
            padding: 20px 50px;
            border-radius: 15px;
            box-sizing: border-box;
            margin-bottom: $actionHeight;
            .errorText
            {
                color: #D8000C;
                font-size: 14px;
                font-family: 'Roboto';
                box-sizing: border-box;
                font-weight: bolder;
                overflow: auto;
                i
                {
                    margin-right: 10px;
                }
                
            }
            .transaction
            {
                margin-right: calc(#{$selectWidth} * 0.5);
            }
            .content-child
            {
                padding-top: 10px;
            }
            .containerOff
            {
                display: flex;
                flex-wrap: wrap;
                .row1
                {
                    margin-right: 100px;
                    margin-left: 10px;
                }
            }
            .invalid
            {
                -webkit-box-shadow: 0 0 0 30px #FFBABA inset !important;
                border: 2px solid #D8000C;
                background-color: #FFBABA !important ;
                color: #2a2a2a;
                font-weight: bold;
            }
            .invalid:focus
            {
                border: 2px solid #D8000C;
            }
            .invalid::placeholder
            {
                color: #fafafa;
            }
            .ImgStep
            {
                width: 100%;
                height: 100%;
                .ImgContainer
                {
                    margin-top: 30px;
                    height: 150px;
                    img
                    {
                        border-radius: 15px;
                        transition: .4s all;
                        height: 140px;
                        cursor: pointer;
                        object-fit: cover;
                        z-index: 200;
                    }
                }
            }
        }
        #sector
        {
            margin-right: 10px;
        }
        .steps-action
        {
            box-sizing: border-box;
            background-color: #fafafa;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            height: $actionHeight;
            z-index: 99999;
            border-top: 1px solid rgb(209, 208, 208);
            padding: 10px 100px;
            button 
            {
                border-radius: 15px;
                padding : 10px 35px ; 
                font-family: 'Roboto';
                font-weight: bolder;
                cursor: pointer;
                outline: none;
            }
            .Next
            {
                border: none;
                float: right;
                background-color: #ff7e6a;
                opacity: 1;
                transition: 0.5s box-shadow ease-out;
                transition: 0.3s opacity ease-out;
                color: #fafafa ;
            }
            .Next:hover
            {
                box-shadow: 0px 0px 5px #ff7e6a;
                opacity: 0.8;
            }
            .back
            {
                float: left;
                background-color: transparent;
                border: 1px solid rgb(228, 228, 228) ;
                transition: 0.3s box-shadow ease-out;
                color: #6e6e6e;
            }
            .back:hover
            {

                box-shadow: 0px 0px 6px rgb(209, 208, 208);
            }
        }
        label , legend
        {
            font-weight: bolder;
            color: #2a2a2a;
        }
        fieldset
        {
            width: 600px;
                .se 
                {
                    width: 244px;
                }
            legend
            {
                padding: 0 15px;
                font-size: 20px;
                color: #1890FF;
            }
                box-sizing: border-box;
                margin-top: 10px;
                border: 1px solid rgb(236, 236, 236);
                width: 120%;
                border-radius: 5px;
                background : none ;
                padding: 10px 20px ;
            .line1
            {
                overflow: auto;
                .right
                {
                    float: right;
                    margin-right: 15px;
                }
                .left
                {
                    margin-top: 20px;
                    float : left ;
                }
            }
            
        }
        .Select
        {
            border: 2px solid transparent;
            background : none ;
            color: #6e6e6e;
            box-shadow: 0px 0px 3px rgb(209, 208, 208);
            border-radius: 5px;
            width: $selectWidth;
            padding: 10px 20px ;
            margin: 10px 0px;
            font-family: 'Roboto';
            outline: none;
            transition: border 0.2s ease-in-out;
            option 
            {
                cursor: pointer;
            }
        }
        
        .Select:focus
        {
            border: 2px solid #1890FF;
        }
        input::placeholder
        {
            font-weight: 500;
            color: #b3b3b3;
        }
        textarea::placeholder
        {
            font-weight: 500;
            color: #b3b3b3;
        }
        
    }
    .SplashContainer
    {
        height: 100vh;
        margin: 0;
        padding: 0;
        background-color: #2a2a2a;
        z-index: 9999;
    }
    .trans 
    {
        animation: fadeout 600ms;
    }
    @keyframes fadeout 
    {
        from { opacity: 1; }
        to   { opacity: 0; }
    }
    .logo-center-xy {
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
        width: 50px;
        animation: rotation 3s infinite linear;
    }
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
}