body
{
    .time
    {
        font-family: 'Roboto';
        color : #1665D8 ;
        
    }

    .post_container
    {
        font-family: 'Publica Play';
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        cursor:context-menu;
    }
    
    .Post:hover
    {
        background-color: rgba(74, 144, 255, .09);
    }
    .Post
    {   
        border-radius: 15px;
        box-sizing: border-box;
        width: 300px;
        padding: 15px;
        margin-right: 75px;
        margin-bottom: 75px;
        .Profile
        {
            .dot {
                float: left;
                height: 33px;
                width: 33px;
                background-image: url("../../../res/705680.jpg");
                background-position: center center;
                background-size: cover;
                border-radius: 50%;
                margin-right: 15px;
                margin-left: 5px;
                margin-top: 2px;
                padding: 0;
                cursor: pointer;
              }
            font-family: 'Glacial indifference';
            .name{font-weight: bolder;cursor: pointer;}
            .post_time
             {
                font-size: 14px;
                color: rgb(91, 92, 95);
             }
            
        }
        .Thumbnail_container
        {
            margin-top: 10px;
            height: 150px;
            .Thumbnail_img
            {
                background-image: url("../../../res/puppies-cover.jpg");
                background-position: center center;
                background-size: cover;
                border-radius: 5px;
                width: 100%;
                height: 100%;
                transition: .4s all;
                cursor: pointer;
            }
            margin-bottom: 5px ;
        }
        h2 
        {font-family: 'Roboto'; margin: 0;
        font-size: 20px;}
        .infos
        {
            margin-top: 5px;
            .description
            {
                font-family: 'Glacial indifference';
                font-size: 14px;
                color: rgb(91, 92, 95);
                margin-bottom: 0;
            }
            .Interaction_user
            {  
                margin-top: 0;
                align-items: center;
                .ratings
                {
                    float : left ;
                    .fa-star{color : #ED8A19 ;} 
                    font-size: 14px;
                    cursor: pointer;
                }
                
                .bookmark
                {
                    float: right;
                    font-size: 14px;
                    cursor: pointer;
                }
                margin-bottom: 35px;
            }
            
        }
        .price_infos
        {
                align-items: center;
                .status_type
                {   
                    font-family: 'Roboto';
                    color : #1665D8 ;
                    float : left ;
                    font-weight: bolder;
                    cursor: pointer;
                }
                .price
                {
                    font-family: 'Roboto';
                    font-weight: bolder;
                    float: right;
                    cursor: pointer;
                }
        }
    }
}