@media all and (min-width: 681px) {
  body {
    margin: 0% auto;
  }
  body .AccountContainer {
    position: absolute;
    margin-bottom: 50px;
    left: 35.2%;
    top: 17%;
    width: 30vw;
    height: auto;
  }
  body .AccountContainer .sign_alert {
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    border: 1px solid #D8000C;
    background-color: #FFBABA !important;
    padding: 5%;
    color: #D8000C;
    border-radius: 5px;
    text-align: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  body .AccountContainer .hide_sign {
    -webkit-transition: 0.25s;
    transition: 0.25s;
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: hidden;
  }
  body .AccountContainer .third_paties_Container {
    margin: 0%;
    text-align: center;
  }
  body .AccountContainer .fb_submit {
    text-decoration: none;
    color: white;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #4267B2;
    padding: 0.8em 2em;
    border-radius: 15px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
    width: 100%;
    cursor: pointer;
    outline: none;
  }
  body .AccountContainer .fb_submit:hover {
    background-color: #5584e2;
  }
  body .AccountContainer .gl_submit {
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #4285F4;
    padding: 0.8em 2em;
    border-radius: 15px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
    width: 100%;
    cursor: pointer;
    outline: none;
  }
  body .AccountContainer .gl_submit:hover {
    background-color: #70a3f6;
  }
  body .AccountContainer .inf {
    position: relative;
    /* Adjust these values accordingly */
    float: left;
    top: 28px;
    left: 5%;
    color: #f2f2f2;
  }
  body .AccountContainer .ing {
    position: relative;
    /* Adjust these values accordingly */
    float: left;
    top: 28px;
    left: 5%;
    color: #f2f2f2;
  }
  body .AccountContainer .icong {
    color: #f2f2f2;
    position: relative;
    /* Adjust these values accordingly */
    float: left;
    top: 28px;
    left: 5%;
  }
  body .AccountContainer .iconf {
    color: #f2f2f2;
    position: relative;
    /* Adjust these values accordingly */
    float: left;
    top: 28px;
    left: 5%;
  }
  body .AccountContainer .icon {
    color: #FF7E6A;
    position: relative;
    float: left;
    /* Adjust these values accordingly */
    top: 29px;
    left: 8px;
    padding: 0 10px;
  }
  body .AccountContainer .icin {
    color: #FF7E6A;
    position: absolute;
    right: 5%;
    top: 50%;
  }
  body .AccountContainer .span {
    font-family: 'Publica Play';
    text-align: center;
    width: 100%;
    color: gray;
  }
  body .AccountContainer h1 {
    font-family: 'Glacial indifference';
    color: #2a2929;
    font-weight: bolder;
    padding-bottom: 0%;
    text-align: center;
  }
  body .AccountContainer .inputs {
    margin: 0%;
  }
  body .AccountContainer .field {
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 0.8em 4em;
    margin-bottom: 0%;
    outline: none;
    font-family: 'Publica Play';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  body .AccountContainer .val {
    margin: 0%;
    padding: 0%;
    visibility: hidden;
  }
  body .AccountContainer .val p {
    margin: 0%;
    padding-left: 15px;
    text-align: left;
    color: #D8000C;
    font-family: 'Glacial indifference';
  }
  body .AccountContainer .inv_msg {
    margin: 0%;
    padding-bottom: 4.5%;
  }
  body .AccountContainer .inv_msg .fa-close {
    color: #D8000C;
    position: absolute;
    font-size: 17px;
    margin-right: 10px;
  }
  body .AccountContainer .inv_msg p {
    margin: 0%;
    padding-left: 20px;
    text-align: left;
    color: #D8000C;
    font-family: 'Glacial indifference';
  }
  body .AccountContainer label {
    font-family: 'Glacial indifference';
    color: #2a2929;
    font-weight: bolder;
  }
  body .AccountContainer .descr {
    font-size: 10px;
    font-family: 'Publica Play';
    text-align: center;
    color: gray;
    text-align: center;
  }
  body .AccountContainer a {
    font-size: 10px;
    font-family: 'Publica Play';
    text-align: center;
    color: #FF4123;
    text-align: center;
  }
  body .AccountContainer .Submitbutton {
    text-decoration: none;
    color: white;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #FF4123;
    padding: 0.8em 2em;
    border-radius: 15px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
    width: 60%;
    cursor: pointer;
    outline: none;
  }
  body .AccountContainer .loading {
    text-decoration: none;
    color: #2a2929;
    font-family: 'Glacial Indifference';
    font-weight: bolder;
    background-color: #c3c3c3;
    padding: 0.8em 2em;
    border-radius: 15px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    border: none;
    width: 60%;
    pointer-events: none;
    cursor: disabled;
    outline: none;
  }
  body .AccountContainer .submitContainer {
    margin-top: 3%;
    margin-left: 0%;
    text-align: center;
  }
  body .AccountContainer .Submitbutton:hover {
    background-color: #2a2929;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    outline: none;
  }
  body .AccountContainer .field:focus {
    border: 1px solid #FF7E6A;
  }
  body .AccountContainer .field:hover {
    border: 1px solid #FF7E6A;
  }
  body .AccountContainer .invalid,
  body .AccountContainer .invalid:-webkit-autofill,
  body .AccountContainer .invalid:-webkit-autofill:hover,
  body .AccountContainer .invalid:-webkit-autofill:focus,
  body .AccountContainer .invalid:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #FFBABA inset !important;
    border: 1px solid #D8000C;
    background-color: #FFBABA !important;
  }
  .Animo_logo_orange_2 {
    position: absolute;
    left: 43%;
    top: 30px;
    z-index: initial;
    width: 15%;
  }
}
/*# sourceMappingURL=account_web.css.map */