.body 
{   
    margin-left: 2%;
   .Logo
   {
     //text-align: center;
     width: 150px;
     margin-top: 2%;
     
   }
   .notfound
   {
     margin-top: 5%;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-items: center;
   }
   .text
   {
     margin-right: 10%;
     text-align: center;
     h1 
     {
       font-family: "Riffic free" ;
       color: #2a2a2a;
     }
     .backHome
     {
       padding: 10px 15px;
       text-decoration: none;
       box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
       opacity: 1;
       transition: all ease-in-out 0.2s;
       font-family: 'glacial indifference';
       font-weight: bolder;
       color: #fafafa;
       background: rgb(255,65,35);
       background: linear-gradient(77deg, rgba(255,65,35,1) 0%, rgba(121,0,168,1) 100%);
       border-radius: 5px;
     }
     .backHome:hover
     {
       box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
       opacity: 0.9;
     }
   }
    
}