
.SideNav {

    a { text-decoration: none;}
    // Side navv -----------------------
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    border-right: 1px solid #dddddd;
    padding-top: 30px;
    padding-left: 40px;
    box-sizing: border-box;
    .animo_home_logo
    {
      padding-left: 10px;
      fill:#FF4123;
    }
    // end of side nav -----------------------------------------------

    .Nav_Container
    {   
        margin-top: 35%;
        .prof_icon
        {
          border-radius: 50%;
          object-fit: cover;
          object-position: 30%;
        }
        
        .Navlink 
        {
          
          outline-style: none;
          -webkit-box-direction: normal;
          -webkit-box-orient: vertical;
         // flex-direction: column;
          -webkit-box-align: start;
          //align-items: flex-start;
          -webkit-box-flex: 1;
          //flex-grow: 1;
          //flex-flow: row wrap;
          width: 80%;
          padding-bottom: 5px;
          padding-top: 5px;
          font-family: 'Glacial Indifference';
          text-decoration: none;
          font-size: 16px;
          display: flex;
          color: #2A2A2A; 
          font-weight: bolder;
          box-sizing: border-box;
          flex-basis: auto;
          flex-shrink: 0;
          margin-bottom: 15px;
          margin-left: 0px;
          margin-right: 0px;
          margin-top: 0px;
          min-height: 0px;
          min-width: 0px;
          padding-left: 0px;
          padding-right: 0px;
          position: relative;
          cursor: pointer;
          
          .icon_container
          {
            -webkit-box-align: stretch;
            -webkit-box-direction: normal;
            -webkit-box-orient: vertical;
            display: flex;
            flex-basis: auto;
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 15px;
            margin-top: 0px;
            min-height: 0px;
            min-width: 0px;
            padding-bottom: 3px;
            padding-left: 10px;
            padding-right: 0px;
            padding-top:3px;
            position: relative;

          }
          .legend
          {
            overflow-wrap: break-word;
            max-width: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            box-sizing: border-box;
            margin-left: 0px;
            margin-right: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 6px;
            white-space: pre-wrap;
            word-wrap: break-word;
            
          }
        }
        .active
        {
          color: rgb(255, 99, 75)  ; 
          .icon
          {
            color: rgb(255, 99, 75)  ; 
          }
          .legend
          {
            color: rgb(255, 99, 75)  ;
          }
        }
        
    }
    .Navlink:hover
    {
      transition: all 0.1s;
      background-color: rgb(255, 240, 238);
      border-radius: 10px;
      box-shadow: 0px 0px 16px rgb(255, 240, 238);
      color: rgb(255, 99, 75)  ; 
      .icon
          {
            color: rgb(255, 99, 75)  ; 
          }
    }
    .CreateOffers
    {
      #createOffer
      {
        color: #fafafa ; 
        padding: 10px 25px;
        margin-top: 80px;
        background-color: #FF634B ;
        border-radius: 10px ;
        transition: all 0.2s ;
        border: none ;
        cursor: pointer;
        outline: none;
        width: 80%;
        font-family: 'Glacial Indifference';
        text-decoration: none;
        font-size: 15px;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
      }
      #createOffer:hover
      {
        box-shadow: 0px 0px 16px #ff634bdc ;
      }
    }
    .footer
    {
      position: absolute;
      bottom: 0;
      font-size: 11px;
      font-family: 'Glacial indifference';
      color: #58595c;
      display: flex;
      padding-bottom: 5px;
      flex-direction: column;
      padding-right: 40px;
      div 
      {
        
        a 
        {
          padding: 0px 2px 0px 0px;
          cursor : pointer ;
        }
        a:hover 
        {
          text-decoration: underline;
        }
      }
    }
    
  }
  
  @media only screen and (max-width: 910px) {
  
    .Navbar__Items,
    .Navbar {
      flex-direction: column;
    }
    .Navbar
    {
      .Navbar__Items {
        display:none;
      }
        
      .Navbar__Items--right {
        margin-left:0;
  
      }
        
      .Navbar__ToggleShow {
        display: flex;
      }
        
     .Navbar__Link-toggle {
        align-self: flex-end;
        display: initial;
        position: absolute;
        cursor: pointer;
      } 
    }
   
  }

