
  
  .previousButton, .nextButton {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 100;
          background: url('../../../res/fields_icons/main_next.svg') no-repeat center center / 32px;
          width: 64px;
          height: 64px;
          text-indent: -9999px;
          cursor: pointer;
  }
  
  .previousButton:hover, .nextButton:hover {
    background: url('../../../res/fields_icons/next_hover.svg') no-repeat center center / 32px;
  }
  
  .previousButton {
    left: 10px;
    -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
            transform: rotate(180deg) translateY(calc(50% + 0px));
  }
  
  .nextButton {
    right: 10px;
  }
  .slide 
  {
    margin-top: -5%;
    margin-left: 5%;
  }

  @media all and (max-width: 900px)
  {
    .slide
  {
    margin-top: -4%;
    margin-left : 20%;
  } 
 }

// Transitions ********************************


  .slide h1 {
	transition: all 0.3s ease;
	-webkit-transform: translateY(-20px);
					transform: translateY(-20px);
	opacity: 0;
}

.slide p {
	transition: all 0.3s ease;
	-webkit-transform: translateY(20px);
					transform: translateY(20px);
	opacity: 0;
}
.slide img
{
  transition: all 0.3s ease;
	-webkit-transform: translateY(20px);
					transform: translateY(20px);
	opacity: 0;
}

.slide.animateIn.previous h1,
.slide.current h1,
.slide.animateIn.next h1,

.slide.animateIn.previous img,
.slide.current img,
.slide.animateIn.next img,

.slide.animateIn.previous p,
.slide.current p,
.slide.animateIn.next p {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	-webkit-transition-delay: .9s;
					transition-delay: .9s;
					opacity: 1;
}

.slide.animateIn.previous p,
.slide.animateIn.next p {
	-webkit-transition-delay: 1.1s;
					transition-delay: 1.1s;
}


.slide.animateOut h1 {
	-webkit-transition-delay: .3s;
					transition-delay: .3s;
}

.slide.animateOut p {
	-webkit-transition-delay: .2s;
					transition-delay: .2s;
}

